.row
  .span12
    %ul.breadcrumb
      %li
        = link_to 'Home', user_path(current_user)
        %span.divider
          #{'/'}
      %li.active
        Einstellungen
    .page-header
      %h1
        Einstellungen
  .span5
    .modal.hide.fade#delete_user_modal
      .modal-header
        %button.close(type='button' data-dismiss='modal')
        %h3
          Account löschen?
      .modal-body
        %p
          Möchtest du deinen Account wirklich löschen? :-(
        %p
          Dieser Schritt kann nicht rückgängig gemacht werden.
      .modal-footer
        %a.btn(href='#' data-dismiss='modal')
          Abbrechen
        = link_to 'Account löschen', registration_path(resource_name), method: :delete, class: 'btn btn-danger'
    %h2
      Account löschen
    %p
      Du möchtest wirklich deinen Account löschen? :-(
    = link_to 'Account löschen', '#delete_user_modal', data: { toggle: 'modal' }, class: 'btn btn-danger'