.row
  .span12
    %ul.breadcrumb
      %li.active
        Home
    .page-header
      %h1
        Hallo
        = current_user.username
  .span4
    .hero-unit.with-button
      %p.buttonwrapper
        = link_to 'Lernen', '#', class: 'btn btn-primary btn-large'
      %p
        Neue Lernlisten erstellen oder bestehende Lernliste lernen.
  .span4  
    .hero-unit.with-button
      %p.buttonwrapper
        = link_to 'Suchen und Entdecken', '#', class: 'btn btn-primary btn-large'
      %p
        Neue Themenbereiche kennenlernen und Collablearn durchsuchen.
  .span4
    .hero-unit.with-button
      %p.buttonwrapper
        = link_to 'Mitwirken', contribute_path, class: 'btn btn-primary btn-large'
      %p
        Neue Fragen erstellen. Collablearns Qualität verbessern.
  .span12
    .page-header
      %h1
        Aktivitäten
    %p
      Derzeit liegen leider keine Aktivitäten vor...