.row
  .span12
    %ul.breadcrumb
      %li.active
        Home
    .page-header
      %h1
        Hallo
        = current_user.username
  .span4
    .hero-unit.with-button
      %p.buttonwrapper
        = link_to 'Lernen', '#', class: 'btn btn-primary btn-large'
      %p
        Lernliste ausw채hlen, um die Lernliste online zu lernen.
  .span4
    .hero-unit.with-button
      %p.buttonwrapper
        = link_to 'Lernlisten verwalten', collections_path, class: 'btn btn-primary btn-large'
      %p
        Fragen zu Lernlisten hinzuf체gen. Lernlisten verwalten.
  .span4  
    .hero-unit.with-button
      %p.buttonwrapper
        = link_to 'Suchen und Entdecken', '#', class: 'btn btn-primary btn-large'
      %p
        Neue Themenbereiche kennenlernen und Collablearn durchsuchen.
  .span12
    .page-header
      %h1
        Aktivit채ten
    %p
      Derzeit liegen leider keine Aktivit채ten deiner gefolgten Personen vor...