%table.table.table-bordered.table-striped.tablesorter
  %thead
    %tr
      %th
        Username
      %th
        Erstellte Lernlisten
      %th
        Erstellte Fragen
  %tbody
    - users.each do |item|
      %tr
        %td
          - if item.name
            = link_to item.username + ' (' + item.name + ')', user_path(item)
          - else
            = link_to item.username, user_path(item)
        %td
          = item.collections.count
        %td
          = item.questions.count