<script type="text/javascript">
  function simple_format(str) {
    str = str.replace(/\r\n?/, "\n");
    str = $.trim(str);
    if (str.length > 0) {
      str = str.replace(/\n\n+/g, '</p><p>');
      str = str.replace(/\n/g, '<br />');
      str = '<p>' + str + '</p>';
    }
    return str;
  }

  var questions = <%=j @questions.to_json.html_safe %>
  old_rand = null;
  $('#shuffle').bind('click', function(){
    rand = Math.floor(Math.random() * questions.length);
    if (questions.length != 1) {
      while (old_rand == rand) {
        rand = Math.floor(Math.random() * questions.length);
      }  
    }
    $('#question').text('');
    $('#answer').text('');
    $('#question').append(simple_format(questions[rand].question));
    $('#answer').append(simple_format(questions[rand].answer));
    old_rand = rand;
    $('#answer').hide();
  });
  $('#shuffle').trigger('click');
  $('#toggle').click(function() {
    $('#answer').slideToggle(150);
  });
</script>