<script type="text/javascript">
  function simple_format(str) {
    str = str.replace(/\r\n?/, "\n");
    str = $.trim(str);
    if (str.length > 0) {
      str = str.replace(/\n\n+/g, '</p><p>');
      str = str.replace(/\n/g, '<br />');
      str = '<p>' + str + '</p>';
    }
    return str;
  }

  var questions = <%=j @questions.to_json.html_safe %>
  old_rand = null;
  $('#shuffle').bind('click', function(){
    rand = Math.floor(Math.random() * questions.length);
    if (questions.length != 1) {
      while (old_rand == rand) {
        rand = Math.floor(Math.random() * questions.length);
      }  
    }
    $('#question').text('');
    $('#answer').text('');
    $('#question').append(simple_format(questions[rand].question));
    $('#answer').append(simple_format(questions[rand].answer));
    old_rand = rand;
    $('#answer').hide();
  });
  $('#shuffle').trigger('click');
  $('#toggle').click(function() {
    $('#answer').slideToggle(150);
  });

  // Keyboardcontrols
  $(document).keydown(function (e) {
    var key_code = e.key_code || e.which,
    arrow = {left: 37, up: 38, right: 39, down: 40 };
    switch (key_code) {
      // Show / Hide Answer
      case arrow.up:
        $('#toggle').trigger('click');
      break;
      case arrow.down:
        $('#toggle').trigger('click');
      break;
      // Next Question
      case arrow.left:
        $('#shuffle').trigger('click');
      break;
      case arrow.right:
        $('#shuffle').trigger('click');
      break;
    }
  });
</script>