.row
  .span5.offset3
    .page-header
      %h1
        Impressum
    %h2
      Das Collablearn-Team
    %p
      Alexander Fillbrunn, Martin Becker, Philipp Müns
    %address
      %strong
        Collablearn
      %br
      Zur Wulwerkuhle 11
      %br
      33184
      %br
      Altenbeken
    %h2
      Haftungshinweis
    %p
      Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Für weitere Haftungsrelevante Informationen siehe:
      = link_to 'Nutzungsbedingungen', terms_of_service_path
      und
      = link_to 'Datenschutz.', privacy_path