.row
  .span5.offset3
    .page-header
      %h1
        Nutzungsbedingungen
    %p
      Folgende Nutzungsbedingungen muss jeder Nutzer von Collablearn zustimmen, bevor er einen Account anlegt, bzw. eine Aktion auf der Plattform durchführt:
    %ul
      %li
        Es darf kein Copyright verletzt werden
      %li
        Werbung, Beleidigungen, rassistische Äußerungen sind zu unterlassen
      %li
        Erstellung vieler, inhaltsgleicher Beiträge ist verboten
      %li
        Jeder Nutzer muss sicherstellen, dass die Daten, die seine Account zugeordnet werden können den Nutzungsbedingungen gerecht werden
    %p
      Bei Nichteinhaltung dieser Bedingungen nimmt sich das Collablearn-Team vor die Nutzer zu sperren, bzw. die Nutzer / Beiträge zu löschen.