body { 
  //padding-top: 60px;
  padding-top: 80px;
  background: image-url('bgpattern.png');
}

ul.dropdown-menu {
  color: #333;
  form {
    width: 200px;
    padding: 5px 20px;
    margin-bottom: 0;
  }
  a.forgotten-password {
    margin-top: 10px;
    text-align: right;
    color: $linkColor;
    &:hover {
      color: $linkColorHover;
    }
  }
}

.hero-unit.left-floated-text {
  p.buttonwrapper {
    text-align: center;
  }
  p {
    text-align: left;
  }
}

.brand {
  margin-bottom: -5px;
  img {
    margin-bottom: 5px;
    margin-right: 3px;
  }
}

.button-margin {
  margin-bottom: 20px;
}