body { 
  padding-top: 60px;
}

ul.dropdown-menu {
  color: #333;
  form {
    width: 200px;
    padding: 5px 20px;
    margin-bottom: 0;
  }
  a.forgotten-password {
    margin-top: 10px;
    text-align: right;
    color: #08C;
    &:hover {
      color: #005580;
    }
  }
}

.hero-unit.with-button {
  p.buttonwrapper {
    text-align: center;
  }
  p {
    text-align: left;
  }
}