body { 
  //padding-top: 60px;
  padding-top: 80px;
  background: image-url('bgpattern.png');
}

ul.dropdown-menu {
  color: #333;
  form {
    width: 200px;
    padding: 5px 20px;
    margin-bottom: 0;
  }
  a.forgotten-password {
    margin-top: 10px;
    text-align: right;
    color: $linkColor;
    &:hover {
      color: $linkColorHover;
    }
  }
}

.hero-unit.left-floated-text {
  p.buttonwrapper {
    text-align: center;
  }
  p {
    text-align: left;
  }
}

.brand {
  margin-bottom: -5px;
  img {
    margin-bottom: 5px;
    margin-right: 3px;
  }
}

.button-margin {
  margin-bottom: 20px;
}

.feedback-button {
  position: fixed;
  display: block;
  margin-bottom: 0px;
  bottom: 50%;
  left: -30px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  &:hover {
    text-decoration: none;
  }
}