// index.haml
ul.featurelist {
  li {
    margin-bottom: 10px;
  }
}

footer {
  .fb-like {
    float: right;
    margin-right: 20px;
  }
}

// search.haml
input.search {
  width: 300px;
}

select.condition {
  width: 300px;
}

.tag-size-1 {
  font-size: 1.0em;
}

.tag-size-2 {
  font-size: 1.2em;
}

.tag-size-3 {
  font-size: 1.4em;
}

.tag-size-4 {
  font-size: 1.6em;
}

// learn.haml
#toggle {
  margin-bottom: 20px;
}

#status {
  text-align: center;
}

#status {
  .progress {
    margin-bottom: 5px;
  }
  padding: 19px 19px 10px 19px;
}

p#times-incorrect, p#times-correct {
  display: inline;
}