%p
  Willkommen
  = @resource.email
  !
%p
  Du kannst mit dem unten stehenden Link deinen Account freischalten!
%p
  = link_to 'Account freischalten', confirmation_url(@resource, confirmation_token: @resource.confirmation_token)
%p
  Viel Spaß auf collablearnapp.com wünscht dir das Collablearn-Team!