%p
  Hallo
  = @resource.email
  !
%p
  Du hast dein Passwort vergessen? Dann kannst du mit dem unten stehenden Link ein neues Passwort festlegen:
%p
  = link_to 'Neues Passwort festlegen', edit_password_url(@resource, reset_password_token: @resource.reset_password_token)
%p
  Wenn du nicht derjenige warst, der eine diese E-Mail angefordert hast, dann kannst du sie einfach ignorieren!
%p
  Weiterhin viel Spaß auf collablearnapp.com wünscht dir das Collablearn-Team!