%p
  Hallo
  = @resource.email
  !
%p
  Dein Account wurde sicherheitshalber gesperrt, da zu oft fehlgeschlagene Loginversuche durchgeführt wurden.
%p
  Mit dem unten stehenden Link kannst du deinen Account wieder freischalten.
%p
  = link_to 'Account freischalten', unlock_url(@resource, unlock_token: @resource.unlock_token)
%p
  Weiterhin viel Spaß auf collablearnapp.com wünscht dir das Collablearn-Team!