- if flash[:success]
  .alert.alert-success#fadeout
    = flash[:success]
- if flash[:error]
  .alert.alert-error#fadeout
    = flash[:error]
- if flash[:notice]
  .alert.alert-info#fadeout
    = flash[:notice]