%footer.footer
  .container
    %p.pull-right
      %a(href='#')
        Nach oben
    .visible-desktop
      %p
        .fb-like(data-href='http://www.collablearnapp.com' data-send='true' data-layout='button_count' data-width='450' data-show-faces='false')
    %p
      Collablearn - Gemeinsam online lernen
    %ul.footer-links
      %li
        = link_to 'Impressum', masthead_path
      %li.muted
        ·
      %li
        = link_to 'Nutzungsbedingungen', terms_of_service_path
      %li.muted
        ·
      %li
        = link_to 'Datenschutz', privacy_path