%footer.footer
  .container
    %p.pull-right
      %a(href='#')
        Nach oben
    %p
      Collablearn - Gemeinsam sind wir schlauer!
    %ul.footer-links
      %li
        = link_to 'Impressum', masthead_path
      %li.muted
        ·
      %li
        = link_to 'Nutzungsbedingungen', terms_of_service_path
      %li.muted
        ·
      %li
        = link_to 'Kontakt', contact_path